html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.nui-dialog {
  overflow: hidden;
  min-width: 240px;
  max-width: 90%;
  padding: 0;
  border-width: 0;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
}

.nui-dialog--animated[open] {
  animation: slide-up 0.4s ease-out;
}

.nui-dialog::backdrop {
  background-color: rgba(0, 0, 0, .5)
}

.nui-dialog .nui-dialog__head {
  padding: 20px 20px 10px 20px;
  min-height: 20px;
  position: relative;
}

.nui-dialog .nui-dialog__title {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.nui-dialog .nui-dialog__body {
  padding: 20px;
  line-height: 1.5;
  font-size: 14px;
}

.nui-dialog .nui-dialog__foot {
  padding: 10px 20px 20px 20px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end
}

.nui-dialog .nui-dialog__btn {
  display: inline-flex;
  line-height: 22px;
  padding: 5px 12px;
  font-size: 14px;
  margin-left: 15px;
  border: 1px solid #dedede;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  outline: none;
  border-radius: 4px;
  color: #787878;
}

.nui-dialog .nui-dialog__close {
  position: absolute;
  right: 18px;
  top: 16px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  color: #787878;
  user-select: none;
}

.nui-dialog .nui-dialog__close:hover,
.nui-dialog .nui-dialog__close:active {
  color: #43a3fb;
}

.nui-dialog .nui-dialog__btn:hover,
.nui-dialog .nui-dialog__btn:active {
  background-color: #e7e7e7;
  transition: background-color .2s;
}

.nui-dialog .btn-confirm {
  color: #fff;
  border-color: #43a3fb;
  background-color: #43a3fb;
}

.nui-dialog .btn-confirm:hover,
.nui-dialog .btn-confirm:active {
  border-color: #3c93e2;
  background-color: #3c93e2;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0, 15px);
  }
  
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}